@model Usuario

<h1>Aqui na nossa galeria voce tem acesso a fotos de momentos<br> marcantes das nossa bandas favoritas!</h1>

<p>Relembre alguns daqueles momentos que voce não quer esquecer de Pearl Jam,
   Nirvana, Soundgarden, Alice in Chains, Stone Temple Pilots e muito mais!!!
</p>
<section style="margin-left: 6em">
    <img src="~/img/bandaPj.jpg" width="250px">
    <img src="~/img/bandaSg.webp" width="273px">
    <img src="~/img/bandaAic.jpg" width="225px">
    <img src="~/img/bandaStp.webp" width="184px">  
</section>