@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h1>Seja bem muito Bem vindo a Grunge Moments o site mais Grunge do Brasil!!!</h1>
    <p>Aqui voce vai encontrar de tudo sobre a sua banda favorita noticias, histórias, fotos, produtos e muito mais</p>
</div>
<section>
    <p>Siga nossa redes socias:</p>
    <ul>Instagram:</ul>
    <ul>Facebook:</ul>
    <ul>Whatsapp:</ul>
</section>
