<h1>Faça seu cadastro e receba tudo em primeira mão!</h1>

<main>
    <p>Aqui voce fica sabendo de tudo que esta acontecendo com a sua banda favorita<br>
      além de ficar sabendo de histórias e momentos marcantes </p>

    <div>
      <img src="~/img/aicNoticia.jpg">
      <p style="">Layne Staley, ALice in Chains e uma das maiores vozes do grunge.</p>
    </div>
    <div>
      <img src="~/img/tdNoticia.webp" width="230px">
      <p style="">A historia por tras da criação do supergrupo grunge Temple of the Dog.</p>
    </div>
</main>