<h1>Aqui na nossa loja voce encontra os melhores produtos da sua banda favorita!</h1>

<main>
    <div>
      <img src="~/img/camisaPj.jpg"   width="200px" height="200px"/>
      <p>Camiseta Pearl Jam <br/>
        R$45,99
      </p>
      <button class="">Adicionar ao carrinho</button>
    </div>

    <div>
      <img src="~/img/camisaSg.png"  width="200px" height="200px"/>
      <p>Camiseta Soundgarden<br/>
        R$45,99
      </p>
      <button class="">Adicionar ao carrinho</button>
    </div>

    <div>
      <img src="~/img/camisaNv.jpg"  width="200px" height="200px"/>
      <p>Camiseta Nirvana<br/>
        R$45,99
      </p>
      <button class="">Adicionar ao carrinho</button>
    </div>
  </main>